@media (max-width: 768px) {
  header {
    display: none;
  }

  #bd {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  section > div > img {
    height: 200px;
    width: 200px;
  }
}

article img {
  height: 100px;
  width: 250px;
  margin: 0 10px;
}
